# Windows Tiny10 VM Configuration
name = "windows-tiny10-terraform"
template = "local:iso/tiny10-x64-21h2.iso"
cores = 2
memory = 4096
storage = "local-lvm"
disk_size = "40G"
bridge = "vmbr0"
ipconfig = "ip=dhcp"
user = "administrator"
password = "windows-vm-password"
ssh_keys = ""
setup_script = ""
enable_provisioning = false