# Cloudflare Tunnel Container Configuration
hostname = "cloudflaretunnel-terraform"
template = "local:vztmpl/debian-13-standard_13.1-2_amd64.tar.zst"
password = "cloudflare-tunnel-password"
ip = "192.168.0.156/24"
gateway = "192.168.0.1"
memory = 512
cores = 1
disk_size = "8G"
setup_script = "./scripts/cloudflare-tunnel-setup.sh"
enable_provisioning = true