

# Nginx Proxy Manager Container Configuration
node = "pve1"
hostname = "nginx-proxy-manager"
template = "local:vztmpl/debian-13-standard_13.1-2_amd64.tar.zst"
password = "nginx-proxy-password"
ip = "192.168.0.155/24"
gateway = "192.168.0.1"
memory = 1024
cores = 2
disk_size = "10G"
setup_script = "./scripts/nginx-proxy-setup.sh"
enable_provisioning = true