# Debian VM Configuration
name = "debian-vm-terraform"
template = "local:iso/debian-12.2.0-amd64-netinst.iso"
cores = 2
memory = 2048
storage = "local-lvm"
disk_size = "20G"
bridge = "vmbr0"
ipconfig = "ip=192.168.0.165/24,gw=192.168.0.1"
user = "debian"
password = "debian-vm-password"
ssh_keys = ""
setup_script = "./scripts/debian-setup.sh"
enable_provisioning = true